@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-serif: "Newsreader Variable", ui-serif, Georgia, Cambria, "Times New Roman", Times, serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --color-black: #2D2926;
  --color-white: #fff;
  --color-navy: #040D12;
  --border-color: #eee;
}

:root {
  font-family: "Inter";
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,body{
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: var(--color-navy);
  color:var(--color-white);
}

/* .scroll-snap-vertical {
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

section{
  scroll-snap-align: start;
  height: 100vh;
  display: grid;
  place-items: center;
} */

.btn{
  display: inline-flex;
  padding: .6rem 1.5rem;
  border: 2px solid var(--border-color);
  font-size: .8rem;
  letter-spacing: 1px;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-weight: bold;
}

.btn-primary{
  background-color: var(--color-black);
  border-color: var(--color-black);
  color: var(--color-white);
}

.fixed-navbar{
  background-color: var(--color-white);
  left: 50%;
  transform: translateX(-50%);
  border: 1px solid var(--border-color);
}

.card-img{
  max-width: 37.5rem;
}

.card-img img{
  height: 400px;
}