@import "tailwindcss";

body{
  display: block;
  place-items: normal;
  background-color: #F4F3F2;
  color:#4A4541;
}

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-serif: "Libre Caslon Text", ui-serif, Georgia, Cambria, "Times New Roman", Times, serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --color-black: #2D2926;
}

:root {
  font-family: "Inter";
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html,body{
  scroll-behavior: smooth;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

.btn-line{
  position: relative;
}
.btn-line:before{
  content:"";
  width: 6rem;
  height: 2px;
  background-color: #4A4541;
}

.scroll-snap-vertical {
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

section{
  scroll-snap-align: start;
  height: 100vh;
  display: grid;
  place-items: center;
}